# This is an example config.toml for the T61.
# Edit this file and copy it to /etc/tpfancontrol/config.toml

# Mapping of sensor number to sensor name.
#
# Sensor numbers need not be contiguous.
# Sensors not listed here will not be displayed.
[sensors]
1 = 'cpu'
2 = 'aps'
3 = 'crd'
4 = 'gpu'
5 = 'no5'
6 = 'x7d'
7 = 'bat'
8 = 'x7f'
9 = 'bus'
10 = 'pci'
11 = 'pwr'
12 = 'xc3'

# Mapping of lower bound of temperature to desired fan level.
#
# For example, the below configuration will set the fan to level 5
# if the temperature is between 65 and 80 deg C.
#
# Valid values for the fan level are 0 to 7 (inclusive) and "full-speed".
# Note that the fan levels must be enclosed in quotes.
[fan_level]
0 = '0'
45 = '1'
65 = '5'
80 = '7'
90 = 'full-speed'
